[data-nja-group] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  color: #767676;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

[data-nja-item] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  border: 1px solid #ddd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 5px; }
  [data-nja-item] .nja-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23000' d='M13.648 7.362c-.133-.355 3.54-3.634 1.398-6.29-.5-.622-2.2 2.974-4.615 4.602C9.1 6.572 6 8.484 6 9.54v6.843C6 17.653 10.914 19 14.648 19 16.018 19 18 10.424 18 9.062c0-1.368-4.22-1.344-4.352-1.7zM5 7.457c-.658 0-3 .4-3 3.123v4.848c0 2.72 2.342 3.02 3 3.02.657 0-1-.57-1-2.26V9.817c0-1.768 1.657-2.36 1-2.36z'/></svg>");
    background-size: 1.43em;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 1.43em;
    height: 1.43em;
    margin-right: .5em;
    opacity: .3; }

[data-nja-item="1"] {
  margin-right: .5em; }
  [data-nja-item="1"].nja-active .nja-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%233c763d' d='M13.648 7.362c-.133-.355 3.54-3.634 1.398-6.29-.5-.622-2.2 2.974-4.615 4.602C9.1 6.572 6 8.484 6 9.54v6.843C6 17.653 10.914 19 14.648 19 16.018 19 18 10.424 18 9.062c0-1.368-4.22-1.344-4.352-1.7zM5 7.457c-.658 0-3 .4-3 3.123v4.848c0 2.72 2.342 3.02 3 3.02.657 0-1-.57-1-2.26V9.817c0-1.768 1.657-2.36 1-2.36z'/></svg>");
    opacity: 1; }

[data-nja-item="-1"] .nja-icon {
  -webkit-transform: scale(-1);
          transform: scale(-1); }

[data-nja-item="-1"].nja-active .nja-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23a94442' d='M13.648 7.362c-.133-.355 3.54-3.634 1.398-6.29-.5-.622-2.2 2.974-4.615 4.602C9.1 6.572 6 8.484 6 9.54v6.843C6 17.653 10.914 19 14.648 19 16.018 19 18 10.424 18 9.062c0-1.368-4.22-1.344-4.352-1.7zM5 7.457c-.658 0-3 .4-3 3.123v4.848c0 2.72 2.342 3.02 3 3.02.657 0-1-.57-1-2.26V9.817c0-1.768 1.657-2.36 1-2.36z'/></svg>");
  opacity: 1; }
